html {
    height: 100%;
}

body {
    height: 100%;
}

p {
    color: $white;
}

h1 {
    color: $white;
    font-family: 'Helvetica Neue';
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 3em;
}

div.l-container {
    padding-top: 50px;
}

.poll--status {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 350px;
}

.status {
    width: 100%;
    min-height: 100%;
    &.zeer-ongunstig {
        background: #c5372f;
    }

    &.ongunstig {
        background: #fc8d50;
    }

    &.tamelijk-ongunstig {
        background: #fcb950;
    }

    &.tamelijk-gunstig {
        background: #78cdce;
    }

    &.gunstig {
        background: #00cfaa;
    }

    &.zeer-gunstig {
        background: #a4cf00;
    }
}

.credits {
    margin: auto;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    p {
        font-size: 80%;
    }

    a {
        color: $white;
        &:hover {
            padding-bottom: 5px;
            border-bottom: 2px solid $black;
        }
    }
}
