body {
    background: #78cdce;

    &.zeer-ongunstig {
        background: #c5372f;
    }

    &.ongunstig {
        background: #fc8d50;
    }

    &.tamelijk-ongunstig {
        background: #fcb950;
    }

    &.tamelijk-gunstig {
        background: #78cdce;
    }

    &.gunstig {
        background: #00cfaa;
    }

    &.zeer-gunstig {
        background: #a4cf00;
    }

}

h1 {
    color: $white;
}

.poll--status {
    margin: auto;
    width: 350px;
    text-align: center;
}

